[submodule "etc/vim/bundle/command-t"]
	path = etc/vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "etc/vim/bundle/syntastic"]
	path = etc/vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "etc/vim/bundle/align"]
	path = etc/vim/bundle/align
	url = https://github.com/pix/vim-align.git
        ignore = dirty
[submodule "etc/vim/bundle/pathogen"]
	path = etc/vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "etc/vim/bundle/ack"]
	path = etc/vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "etc/vim/bundle/detectindent"]
	path = etc/vim/bundle/detectindent
	url = https://github.com/ciaranm/detectindent.git
        ignore = dirty
[submodule "etc/vim/bundle/vim-twig"]
	path = etc/vim/bundle/vim-twig
	url = https://github.com/lunaru/vim-twig
